.list {
  display: flex;
  flex-direction: column;
  gap: 0;
  background-color: #fff;
}

.list > div:nth-child(even) {
  background-color: #f2f2f2;
}

.searchOpt {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 88px;
  flex-wrap: wrap;
  gap: 10px;
}

.searchMain {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.noResult {
  font-size: 18px;
  color: var(--color-title);
  text-align: center;
  font-weight: 600;
}

/* search filter elements section  */

.filterBtn {
  position: static;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  gap: 1ch;
  border: none;
  background-color: white;
  cursor: pointer;
  border-radius: 8.71px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  font-size: 15px;
  text-align: center;
}

.filterBtn:hover {
  background: var(--color-primary-2);
}

.filterBtnValue {
  text-transform: capitalize;
  font-weight: 700;
}

.filterBtnIcon {
}

.item {
  animation: slideIn 0.2s ease-in-out forwards;
  opacity: 0;
  transform: translateY(100px);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.iconArrow {
  float: right;
  display: flex;
  justify-content: flex-end;
}

.button {
  border-radius: 55px;
}

.fontTitle {
  font-weight: 800;
  font-size: 20px;
}

.fontLabels {
  margin-top: 0.7em;
  width: 60%;
  display: flex;
  font-size: 12px;
  font-weight: 400;
}

.fontLabelIcons {
  /* icon size won't change */
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-left: 10px;
}

.btnVisitWeb {
  display: flex;
  align-items: center;
  /* Visit website */
  background: none;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 14px;
  /* Text black */
  color: #000000;

  /* Inside auto layout */
}

@media (max-width: 1024px) {
  .footer {
    display: flex;
    flex: column;
  }
}

@media (max-width: 768px) {
  .searchOpt {
    justify-content: center;
    flex-direction: column;
  }

  .searchMain {
    justify-content: flex-start;
  }

  .searchInput {
    width: 100%;
    margin-top: 2em;
  }
}

@media (max-width: 768px) {
  .searchMain {
    flex-direction: column;
  }
}
