
@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Frutiger:400,700');
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";
// 2. Set your own initial variables
// Update blue
$lightblue: #24c7d2;
// Add pink
$pink: #F58AE3;
// background color
$navbar-background-color: rgba(255, 255, 255, .0);
// Add a sans serif family
$family-sansserif: "Frutiger", sans-serif;
$family-titles: "Montserrat", sans-serif;
// 3. Set the derived variables
$primary: $lightblue;
// Use the new serif family
$family-primary: $family-sansserif;
$family-secondary: $family-titles;
// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Set up box shadow 
$large-shadow: 0 10px 20px rgba(#000, 0.05);
$box-padding:2rem;
$box-shadow: $large-shadow;
$card-shadow: $large-shadow;

//margin
$spacing-shortcuts: ("margin": "mg");
$spacing-horizontal: "h";
$spacing-vertical: null;
$spacing-values: ("small": 22px, "medium": 30px, "large": 60px);

//link
$linkcolor: black;
$link: $linkcolor;



// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";

@import "bulma/bulma";

