@import '../scss/mystyles.scss';
$primary: $lightblue;

h1 {
  font-family: 'Sono', sans-serif;
}
.fontTitle {
  font-family: 'Sono', 700;
  font-size: 24px;
}

// h2, h3, h4, h6, p {
//     font-family: "Frutiger" ,sans-serif;
// }

// ul li {
//     font-family: "Frutiger" ,sans-serif;
//     font-weight: 700;
// }
