
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.1em;
}


.searchFull {
  display: flex;
  justify-content: space-around;
  margin-bottom: 88px;
}

.searchOpt {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
  width:100%;
}

.searchMain {

  display: flex;
  justify-content: space-between;

}

.searchThreeButtons {
   display: flex;
  justify-content: space-around;
  
}

/* search filter elements section  */

.buttonFilters {
  margin-right:10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position:static;
  /* background-image: url("/public/FFR-assets/Buttons/Filters/Filters.svg"); */
  background-color:white;
  /* width:164.57px; */
  height:40px;
  border: none;
  font-weight: 700;
  cursor: pointer;
  border-radius:8.71px;
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
  font-family: "Frutiger" sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
  padding:15.5px;
  
}

.dropdownBtn {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  height:40px;
  /* background-image: url("/public/FFR-assets/Buttons/Filters/Filters.svg"); */
  border: none;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  border-radius:8.71px;
  box-shadow:0px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 0px 20px;
  font-family: "Frutiger" sans-serif;
  font-style: normal;
  line-height: 14px;
  text-align: center;
  
}

.toggleBtn {
  background-color: white;
  height: 40px;
  border:none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15.5px;
  position: static;
  left: 0px;
  top: 0px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8.71px;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 14px;
  text-align: center;
}

.searchText {
  display:inline-flex;
  
}

.searchBar {
  display:flex;
  float: left;
  width: 15.5rem;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 8.71px;
  border-bottom-left-radius: 8.71px;
  border:none;
  font-style: normal;
  font-size: 13px;
  line-height: 14px;
  padding-left:10px;
  text-align: left;
  margin-left:10px;

}

.searchBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  background: #24c7d2;
  font-size: 15px;
  height: 40px;
  border: none;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border-top-right-radius: 8.71px;
  border-bottom-right-radius: 8.71px;
  margin-left:0px;
  padding: 15.5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  
}

.btnSearchIcon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(284deg) brightness(104%) contrast(104%);
}

.btnFont {
  font-family: "Frutiger", sans-serif;
  font-weight: 700;
}

.cards {
  /* width:310px; */
  height: auto;
  padding:22px;
  background-color: white;
  background: #F6F6F6;
  box-shadow: 2px 5px 13px 4px rgba(87, 87, 87, 0.25);
  border-radius: 30px;
}

.cards  > div p {

font-family: "Frutiger", sans-serif;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 19px;
margin-top:1em;
color: #000000;

}

.cardImg {

  display:flex;
  align-items: center;
  justify-content: center;
  border-radius: 8.93817px;
  
}


.iconArrow {
  float:right;
  display:flex;
  justify-content: flex-end;

}

.button {
  border-radius: 55px;
}

.fontTitle {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 20px;
}

.fontLabels {
  margin-top:0.7em;
  width: 60%;
  display:flex;
  font-family: "Frutiger", sans-serif;
  font-size:12px;
  font-weight:400;
  
}

  .fontLabelIcons {
   /* icon size won't change */
  width:20px;
  height:20px;
  object-fit: cover;
  background-color: red;
  margin-left:10px;

}

.cardButtons {
  display:flex;
  justify-content: space-around;
  padding:10px;
}

.btnReadMore {
background: none;
	border: none;
	padding: 0;
	cursor: pointer;
font-family: "Frutiger", sans-serif;
font-style: normal;
font-weight: bold;
font-size: 13px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;
color: #000000;



}

.btnVisitWeb {
  display:flex;
  align-items: center;
  /* Visit website */
  background: none;
	border: none;
	cursor: pointer;
  font-family: "Frutiger", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  /* Text black */
  color: #000000;


  /* Inside auto layout */
 
}


@media (max-width:1200px){

  .wrapper{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin:0 auto;
  gap:10px;
  
  }
  }

@media (max-width:768px) {
  .wrapper{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    margin:0 auto;
    gap:10px;
    
    }
  
  .searchOpt {
    display:flex;
    justify-content: center;
    flex-direction: column;
  }

  .searchMain {
    display:flex;
    justify-content: center;
    
  }

  .searchText {
    width:100%;
    margin-top:2em;
  }

  .searchBar {
    width:100%;
  }


}

@media (max-width:960px) {
  .footer {
    display:flex;
    flex: column;
  }
}