.background {
  background-image: url("../../public/FFR-assets//Backgrounds//BACKROUND.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.pageContainer {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
