.wrapper {
  display: flex;
  align-items: center; /* center icon & text block */
  gap: 1em;
}


.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.icon svg {
  height: 1.5em;
  width: 1.5em;
}

.content {
  display: inline-block;
  line-height: 1.1;
}

