

.navBar {
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 255, 255, .4);
  padding-top: 85.5px;
}

.navEntries {
  display: flex;
  justify-content:flex-end;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  margin-left:20%;
  padding-top: 50px;
  
  
}
.navEntries a {
  width: 1fr;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 25px;
  font-weight:700;
  font-size:14px;
  line-height:17px;
  letter-spacing:0.1em;
}

.logo {
  display:flexbox;
  position:absolute;
  width:180px;
  padding-top: 40px;
  
}

.social {
  display: flex;
  flex-wrap: nowrap;
  justify-content:flex-end;
}

.social a {
  width:2em;
  height:2em;
  display: flex;
  flex-wrap: nowrap;
  justify-content:space-around;
  margin-right:auto;
  
}

.openCalls {
  margin-top:140px;
  font-size:54px;
  line-height: 78px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: #424141;
  
}

.subtitleOpenCalls {
  color:#424141;
  line-height:32.14px;
  font-family: "Frutiger", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size:20px;
  color: #424141;
  margin-top:15px;
}