.navBar {
  display: flex;
  align-items: flex-start;
}

.navEntries {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}
.navEntries a {
  width: 1fr;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 45px;
}

