

.navBar {
  display: flex;
  align-items: flex-start;
  /* background-color: rgba(255, 255, 255, .4); */
  /* padding-top: 85.5px; */
}

.navEntries {
  display: flex;
  justify-content:flex-end;
  flex-wrap: wrap;
  align-items:flex-end;
  width: 100vw;
  padding-top: 50px;
  
  
}
.navEntries a {
  width: 1fr;
  text-decoration: none;
  color: black;
  text-align: center;
  margin: 25px;
  font-weight:700;
  font-size:14px;
  line-height:17px;
  letter-spacing:0.1em;
}

.logo {
  display:flex;
  position:absolute;
  width:180px;
  height:auto;
  padding-top: 40px;
  margin-left: 60px;
  margin-right: auto;
  
}

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right:60px;
}

.social a {
  width:2em;
  height:2em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right:auto;
  
}

.openCalls {
  margin-top:140px;
  font-size:54px;
  line-height: 78px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color: #424141;
  margin-left:60px;
  
}

.subtitleOpenCalls {
  color:#424141;
  line-height:32.14px;
  font-family: "Frutiger", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size:20px;
  color: #424141;
  margin-top:15px;
  margin-left: 60px;
  margin-bottom:5rem;
}

.verticalMenu {
  display:flex;
  width:200px;
}



 @media only screen and (max-width: 1220px) {
  .navBar {
    display:flex;
    padding-left: 23px;
    padding-right:62px;
    flex-direction: column;
    
  }

  .navEntries {
    width: 100%;
    padding-left: 23px;
    flex-direction: column-reverse;
    position:absolute;
    float:right; 
    padding-right:62px;
    z-index:1000px;

  }
  
} 

