.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }
  
  .cards {
    background-color: white;
    border-radius: 25px;
  }
  
  .searchOpt {
    display: flex;
    justify-content: space-between;
  }
  
  .searchMain {
    width: 500px;
    display: flex;
    justify-content: space-between;
  }
  