.item {
  background: #f6f6f6;
  overflow: hidden;
  box-shadow: 2px 5px 13px 4px rgba(87, 87, 87, 0.25);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
}

.cardContainer {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-grow: 1;
}

.description {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.219;
}

.thumbnail {
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.cardParagraph {
  line-height: 19.5px;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.linkButton {
  display: flex;
  justify-content: center;
}
