.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.footer {
  margin-top: 32px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 16px 64px;
  min-width: 320px;
  background: white;
  border: 2px solid var(--color-primary-2);
  border-radius: 10px;

  font-size: 18px;
  font-weight: 700;
  font-style: normal;

  cursor: pointer;
  transition: background-color 0.1s ease-out;
}

.button:hover,
.button:focus {
  background-color: var(--color-primary-2);
}

.searchFilterTitle {
  /* Filter open calls by */
  font-family: "Frutiger", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 1.5em;
}

.searchFilterSub {
  display: inline;
  font-family: "Frutiger", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 20px;
  color: #000000;
  border-bottom: 4px solid #f58ae3;
  margin-bottom: 1.5em;
}

.selectBox {
  display: block;
  margin-top: 1em;
  padding: 5px 0;
  border: none;
  color: #575757;
  border-bottom: 2.4px solid #000000;
  margin-bottom: 1.5em;
}

.checkBox:before {
  margin-top: 10px;
  width: 24.94px;
  height: 24.94px;
  border: 2.375px solid #000000;
  box-sizing: border-box;
  border-radius: 5.9375px;
}

.checkBox:checked {
  background-color: #f58ae3;
  border: 2px solid #f58ae3;
}

.checkbox label {
  display: inline;

  font-family: "Frutiger";
  font-style: normal;
  font-weight: normal;
  font-size: 17.8125px;
  line-height: 17px;
  color: #000000;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 13.0625px;
}
