.clippedParagraph {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.btnReadMore {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-family: "Frutiger", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  color: #000000;
}

.cardButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}
