.searchText {
  display: inline-flex;
  position: relative;
}

.searchBar {
  display: flex;
  width: 15.5rem;
  height: 48px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8.71px;
  border: none;
  font-style: normal;
  font-size: 15px;
  line-height: 14px;
  padding: 17px;
  padding-right: 60px;
}

.searchBtn {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-1);
  font-size: 15px;
  height: 48px;
  border: none;
  cursor: pointer;
  border-top-right-radius: 8.71px;
  border-bottom-right-radius: 8.71px;
  padding: 0 10px;
}

.searchBtn svg {
  fill: white;
}

.searchBtn:hover {
  background: var(--color-primary-2);
}

.clearBtn {
  position: absolute;
  right: 0;
  height: 48px;
  border: none;
  cursor: pointer;
  background: transparent;
  border-top-right-radius: 8.71px;
  border-bottom-right-radius: 8.71px;
  padding: 0 10px;
  font-size: 3em;
}

.clearBtn:hover {
  color: var(--color-secondary);
}
