.aboutSubtitle {
  max-width: 50ch;
  color: #424141;
  font-size: 24px;
  line-height: 149%;
  font-weight: 700;
}

.aboutMission {
  max-width: 75ch;
  color: black;
  font-size: 20px;
  line-height: 133.9%;
  font-weight: normal;
  margin-top: 32px;
}

.aboutSupport {
  color: black;
  font-size: 20px;
  line-height: 133.9%;
  font-weight: normal;
  margin-bottom: 16px;
}

.aboutDonation {
  display: inline-flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
  margin-bottom: 31px;
}

.aboutDonationBtn {
  display: inline-flex;
  float: left;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
}

.teamList {
  margin-top: 2rem;
}

.teamGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.teamMember {
  margin: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
