.contactTitle {
    font-size: 54px;
    line-height: 78px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    color: #424141;
  }
  
  .contactSubtitle {
    width: 72%;
    font-family: "Montserrat";
    color:#424141;
    font-size: 24px;
    line-height: 149%;
    font-weight: 700;
    margin-top:41px;
    margin-bottom:41px;
    
  }

  .contactAim {
    width: 66%;
    font-family: "Frutiger", sans-serif;
    color:black;
    font-size: 20px;
    line-height: 133.9%;
    font-weight: normal;
    margin-bottom:50vh;

  }