.contactSubtitle {
  max-width: 50ch;
  color: #424141;
  font-size: 24px;
  line-height: 149%;
  font-weight: 700;
}

.contactAim {
  max-width: 70ch;
  color: black;
  font-size: 20px;
  line-height: 133.9%;
  font-weight: normal;
  margin-top: 32px;
  margin-bottom: 64px;
}
