.inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.topSection {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-wrap: wrap;
}

@media (min-width: 640px) {
  .topSection {
    flex-direction: row;
  }
}

.deadline {
  font-size: 1.1rem;
  display: flex;
}

.image {
  height: auto;
  border-radius: 8px;
}

.details {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

.details ul > li + li {
  margin-top: 10px;
}

.body {
  grid-area: body;
}

.footer {
  align-self: flex-end;
}
