//  * {
//   background-image: url("../public/FFR-assets/Backgrounds/BACKROUND.png");
// } 

.titleContent {
  font-family: "Montserrat", sans-serif;

}

.openCalls {
  padding:150px 0px 21px;
  font-size: 54px;
  line-height: 78px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color:#424141;
  margin:15px 0px;
}


.subtitleOpenCalls {
  color:#424141;
  line-height: 133.9%;
  margin-bottom:110px;
  font-size: 20px;
  font-family: "Frutiger", sans-serif;
  margin:15px 0px;
  font-weight:bold;

}