/* * {
  background-image: url("../public/FFR-assets/Backgrounds/BACKROUND.png");
} */

body {
  font-family: "Frutiger", sans-serif;
  color:black;
}


/* @font-face {
  font-family: "Istok";
  src: url("/fonts/Istok/istok/Istok-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  format: true;
}

@font-face {
  font-family: "Istok";
  src: url("/fonts/Istok/istok/Istok-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 600;
  font-display: swap;
}

 */

 .titleContent {
  font-family: "Montserrat", sans-serif;

}

.openCalls {
  padding:150px 0px 21px;
  font-size: 54px;
  line-height: 78px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: bold;
  color:#424141;
  margin:15px 0px;
}


.subtitleOpenCalls {
  color:#424141;
  line-height: 133.9%;
  margin-bottom:110px;
  font-size: 20px;
  font-family: "Frutiger", sans-serif;
  margin:15px 0px;
  font-weight:bold;

}

h1 {
  font-family: "Montserrat", sans-serif;
  
}
.fontTitle {
  font-family: "Montserrat", 700;
  font-size: 24px;
}

 h2, h3, h4, h6, p {
     font-family: "Frutiger" ,sans-serif;
 }

 ul li {
     font-family: "Frutiger" ,sans-serif;
     font-weight: 700;
 }


.page {
  
  margin-left: 62px;
  margin-right: 62px;
  margin-bottom: 45px;
}


.fontTitle {
  font-family: "Montserrat", 700;
  font-size: 24px;
}

