/* * {
  background-image: url("../public/FFR-assets/Backgrounds/BACKROUND.png");
} */
@import './tokens.css';
@import './fonts.css';
@import './typebase.css';
@import './sharedUtils.css';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

  overflow: auto;
  overflow-x: hidden;

  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family-main);
  color: black;
}

.titleContent {
  font-family: var(--font-family-main);
  font-weight: 800;
}

.fontTitle {
  font-family: var(--font-family-main);
  font-weight: 800;
  font-size: 24px;
  line-height: 1.219;
}

h1,
h2,
h3 {
  font-family: var(--font-family-main);
  font-weight: 800;
}

h4,
h6,
p {
  font-family: var(--font-family-main);
}

ul li {
  font-family: var(--font-family-main);
}

hr {
  background-color: currentColor;
}

.page {
  margin-left: 62px;
  margin-right: 62px;
  margin-bottom: 45px;
}

@media (max-width: 768px) {
  .page {
    margin-left: 4px;
    margin-right: 4px;
  }
}

.ReactModal__Overlay {
  opacity: 0;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  z-index: 10;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
